<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit blog</title>
</head>
<body>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    <form action="{% url 'editblog' id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="edit">
    </form>
    <a href="{% url 'deleteblog' id %}"><input type="submit" value="delete"></a>
</html>